body {
  margin: 0;
}



.bt-login a {
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
  color: #000000;
  background: #d80f955d;
  cursor: pointer;
  border-radius: 8px;
}

.bt-cadastro a {
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
  color: #000000;
  background: #d80f955d;
  cursor: pointer;
  border-radius: 8px;
}

.bt-cadastro {
  display: inline-block;
}

.bt-login {
  display: inline-block;
}

.botao {
  font-size: 26px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-left: 389px;
  color: #000000;
  background: #d80f955d;
  cursor: pointer;
}

.logo5 span {
  display: inline-block;
  position: relative;
  color: aliceblue;
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  margin-left: 50vh;
}



.body {
  margin: 0;
}

.main-login {
  width: 100vw;
  height: 100vh;
  background: #201b2c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.laft-login {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.left-login > h1 {
  font-size: 3vw;
  color: #00ff88;
}

.laft-login-image {
  width: 35vw;
}

.right-login {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-login {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background: #2f2841;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1 {
  color: #00ff88;
  font-weight: 800;
  margin: 0;
}

.textfield {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.textfield > input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #514869;
  color: #f0ffffde;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
  box-sizing: border-box;
  margin: 10px 0px;
}

.textfield > label {
  color: #f0ffffde;
  margin-bottom: 10px;
}

.textfield > input::placeholder {
  color: #f0ffff94;
}

.btn-login {
  width: 69%;
  padding: 16px 0px;
  margin: 25px;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  color: #2b134b;
  background: #00ff88;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #00ff8052;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #201b2c;
}

.box {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2f2841;
  padding: 15px;
  border-radius: 15px;
  width: 42%;
}

fieldset {
  border: 3px solid #00000056;
}

legend {
  border: 1px solid #00000056;
  padding: 10px;
  text-align: center;

  border-radius: 8px;
}

.inputBox {
  position: relative;
}

.inputUser {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  color: white;
  font-size: 15px;
  width: 100%;
  letter-spacing: 2px;
}

.labelInput {
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
  transition: 0.5s;
}

.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput {
  top: -20px;
  font-size: 12px;
  color: #00000056;
}

#data_nascimento {
  border: none;
  padding: 8px;
  border-radius: 10px;
  outline: none;
  font-size: 15px;
}

#submit {
  background-color: #00000056;
  width: 100%;
  border: none;
  padding: 15px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  border-radius: 10px;
}

#submit:hover {
  background-color: #00000056;
}

.imagens img {
  border-radius: 25px;
}

header {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: 900;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2vw;
  padding: 0 2vw;
}

.gallery-items {
  width: 300px;
  height: 300px;
  flex-grow: 1;
  transition: transform 0.5s linear;
}

.gallery-items img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-items:hover {
  transform: scale(1.3);
}

.imagens img {
  border-radius: 25px;
  width: 300px;
  height: 300px;
  margin-top: 1.5rem;
}

.imagens {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10rem;
  flex-wrap: wrap;
  width: 90rem;
}

.descricao {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  margin-top: -19rem;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 25px;

  box-shadow: 1px -2px 8px 3px rgba(0, 0, 0, 0.1);
}

.descricao span {
  margin-bottom: 1rem;
}

.descricao button {
  width: 10rem;
  height: 2rem;
  background: none;
  border: 2px solid white;
  border-radius: 25px;
  color: white;
  cursor: pointer;
}

.header-index {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-index {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-index .tws-logo {
  color: white;
  font-size: 3rem;
}
.main-index .container-index {
  margin-top: 30rem;
}
.container-button a {
  color: white;
  text-decoration: none;
}
.container-button {
  margin-left: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 2.5rem;
  border-radius: 10px;
  background-color: #2f2841;
  transition: all 3sec;
}
.container-button:hover {
  transition: all 3sec;
  transform: scale(1.2);
}
.container-index {
  display: flex;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.descricao1{
  color: #fff;
  font-family:'Courier New', Courier, monospace ;
  font-size: 23px;
  width: 400px;
  height: 450px;
 margin-left: 45px;
  margin-right: 255px;
  background-color:  #000000 ;
  border-radius: 25px;


}

.d1{
  margin-left: 12px;
 
}

.piloto button{
  color: #fff;
  margin-left:500px;
  margin-top: 20px;
  width: 350px;
  height: 100px;
  font-size: 28px;
  border-radius: 15px;
  background-color: #000000;
  cursor: pointer;
 
}

.voltar button{
  text-decoration: none;
 margin-left: 725px;
display: inline-block;
color: #fff;
width: 160px;
height: 50px;
font-size: 20px;
border-radius: 15px;
background-color: #000000;
cursor: pointer;
}




.pag img{
  
  display: flex;
  width: 156vh;
  height: 100vh;
}

.vt button{
  font-family:Georgia, 'Times New Roman', Times, serif ;
  font-size: 25px;
  position: absolute;
  margin-left: 891px;
  width: 100px;
  height: 60px;
  color: black;
  background:white;
  cursor: pointer;
  border-radius: 8px;

}



/* --RESPONSIVIDADE-- */


/* Para notebook: */

@media only screen and (max-width: 992px) {
    body{
        background-color: #2f2841;
    }
    .imagens {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 10rem;
        flex-wrap: wrap;
        width: 10rem;
      }
}

/* Para pc: */

@media only screen and (max-width: 1200px) {
  
}
